body{
    background-color: rgb(19, 18, 18);
    touch-action: manipulation
}

.start-button{
    width: 100%;
    display: block;
    margin: 0 auto;
    
}
.logo-img{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 40px 20px 0 20px
}
.direction-buttons{
    display:none;
    bottom:0;
    padding: 0 30px
    
}
.direction-buttons img{
    width: 70%;
}
.up-btn{
    width:80px
}
.dflex{
    width:50%
}
.fade-in {
    animation: fadeIn 1.0s ease forwards;
    
  }
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


