body{
    background-color: rgb(19, 18, 18);
    touch-action: manipulation
}

.start-button{
    width: 100%;
    display: block;
    margin: 0 auto;
    
}
.logo-img{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 40px 20px 0 20px
}
/* you loose */
#you-loose {
    width: 100%;
    display: none;
    margin: 0 auto;
    padding: 40px 20px 0 20px
    
}
.game-over-logo{
    width: 100%;
    margin: 60px auto 0px auto;
}
.play-again-btn{
    width: 100%;
    margin: 0 auto;
    
}
#gameOver-canvas{
    width: 375px;
    height: 667;
}
/* you win  */
#win {
    width: 100%;
    display: none;
    margin: 0 auto;
    padding: 40px 20px 0 20px
    
}
.you-win-logo{
    width: 100%;
    margin: 100px auto 0px auto;
}
.play-again-btn{
    width: 100%;
    margin: 0 auto;
    
}
#win-canvas{
    width: 375px;
    height: 667;
}



