body{
    background-color: rgb(19, 18, 18);
    touch-action: manipulation
}

.start-button{
    width: 100%;
    display: block;
    margin: 0 auto;
    
}
.logo-img{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 40px 20px 0 20px
}


.you-win{
    display:none;
    margin: 0 auto;
    width: 375px;
    height: 667;
    
}
#you-loose {
    width: 100%;
    display: none;
    margin: 0 auto;
    padding: 40px 20px 0 20px
    
}
.exit-btn{
    width: 75%;
    margin: 0 auto;
}
.play-again-btn{
    width: 75%;
    margin: 0 auto;
    
}
#gameOver-canvas{
    width: 375px;
    height: 667;
}



